{{location.name}} ({{location.price}}) 
<button onclick={{action 'toggleDetails'}}>Show Details</button>
<br>
{{#if showDetails}}
    {{location.details}}
{{/if}}
{{!-- <button onclick={{action 'toggleFav' r.name}}>toggleFav</button>
<button onclick={{action 'increasePrice' r.name}}>increasePrice</button>
<button onclick={{action 'decreasePrice' r.name}}>decreasePrice</button> --}}
