<h3>Restaurants</h3>
<ul>
    {{#each model as |r|}}
        <li>
            {{r.name}} ({{r.price}})
            <button onclick={{action 'toggleFav' r.name}}>toggleFav</button>
            <button onclick={{action 'increasePrice' r.name}}>increasePrice</button>
        </li>
    {{/each}}
</ul>

<ul>
    {{#each favorites as |f|}}
        <li>{{f.name}} ({{f.price}})</li>
    {{/each}}
</ul>